<div class="denumire" ng-controller="MyController as mCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title">
          <h4> CLASIFICATIA INTERNATIONALA A MALADIIOR </h4>
          <h4> REVIZIA A 10-A OMS</h4>
        </div>
        <div class="input">
          <label for="input">Cauta dupa cod sau descriere</label></br>
          <input type="text" name="" value="" ng-model="mCtrl.searchMe">
        </div>
        <div class="tabel">
          <table>
            <tr>
              <th>Cod</th>
              <th>Descriere boala</th>
            </tr>
            <tr ng-repeat="item in mCtrl.angCodes | filter : mCtrl.searchMe">
              <td class="codes">{{item.code}}</td>
              <td>{{item.description}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
