<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="phone" ng-controller="MenuController as mnctrl">
          <span ng-click="mnctrl.menuIsActiveFunc()" class="{{mnctrl.gli}}"></span>
          <ul class=" menu nav nav-pills" ng-class="{ 'active': mnctrl.menuIsActive }">
            <li class="nav-item" ng-click="go('/')" >
              Lista coduri de boala
            </li>
            <li class="nav-item" ng-click="go('/medicochir')">
              Urgente medico chirurgicale
            </li>
            <li class="nav-item" ng-click="go('/boliinfcont')">
              Urgente boli infecto-contagioase
            </li>
          </ul>
        </div>

        <ng-view class="wiew"> </ng-view>
      </div>
    </div>
  </div>


  <script src="./dist/commons.js"></script>
  <script src="./dist/bundle.js"></script>
</body>

</html>
